<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>subject</title>
  </head>
  <body>
    <select name="department" required>
      <option value="CSE">Computer Science and Engineering</option>
      <option value="ISE">Information Science and Engineering</option>
      <option value="ECE">Electronics and communication Engineering</option>
      <option value="EEE">Electrical and Electronics Engineering</option>
      <option value="ME">Mechanical Engineering</option>
      <option value="CIVIL">Civil Engineering</option>
    </select>
    <a href="/dashboard"></a>
  </body>
</html>
