{% extends 'base.html' %} {%block head%}
<title>TeacherRegister</title>
{%endblock%} {% block body %}
<div class="container back">
  <h4 style="padding: 15px 0px">Please register as teacher</h4>
  <form method="post" action="/registerT">
    <dl>
      <dt><label for="username">Username</label></dt>
      <dd>
        <input
          class="form-control"
          id="username"
          name="name"
          type="text"
          placeholder="username"
          required
        />
      </dd>

      <dt><label for="email">Email Address</label></dt>
      <dd>
        <input
          class="form-control"
          id="email"
          name="email"
          type="email"
          placeholder="email"
          required
        />
      </dd>

      <dt><label for="sub">Select ur Subject</label></dt>
      <dd>
        <select name="subject" required>
          <option value="DBMS">Database managment system</option>
          <option value="CN">Computer networks</option>
          <option value="ME">Managment and entrepreneurship</option>
          <option value="EVS">Environmental studies</option>
          <option value="ATC">Theory of computation</option>
          <option value="PYTHON">python</option>
        </select>
      </dd>

      <dt><label for="class">Select the class u teach</label></dt>
      <dd>
        <select name="classname" required>
          <option value="csea">CSE-A</option>
          <option value="cseb">CSE-B</option>
          <option value="csec">CSE-C</option>
        </select>
      </dd>
      <dt><label for="class">Select the degree</label></dt>
      <dd>
        <select name="degree" required>
          <option value="B-TECH">B-TECH</option>
          <option value="M-TECH">M-TECH</option>
          <option value="PHD">PHD</option>
        </select>
      </dd>
      <dt><label for="age">Enter ur Age</label></dt>
      <dd>
        <input
          class="form-control"
          id="age"
          name="age"
          type="number"
          placeholder="ur age"
          required
        />
      </dd>
      <dt><label for="ph">Enter ur Mobile</label></dt>
      <dd>
        <input
          class="form-control"
          id="ph"
          name="phno"
          type="number"
          placeholder="ur mobile number"
          required
        />
      </dd>
      <dt><label for="sex">Select Gender</label></dt>
      <dd>
        <select name="sex" required>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </dd>

      <dt><label for="password">Password</label></dt>
      <dd>
        <input
          class="form-control"
          id="password"
          name="password"
          type="password"
          placeholder="password"
          required
        />
      </dd>

      <dt><label for="key">Secret Key</label></dt>
      <dd>
        <input
          class="form-control"
          id="key"
          name="secret_key"
          type="password"
          placeholder="secret key"
          required
        />
      </dd>
    </dl>
    <p><input class="btn btn-primary" type="submit" value="Register" /></p>
  </form>

  {%endblock%}
</div>
