{% extends 'base.html'%} {% block head%}
<title>Attendence</title>
{% endblock%} {% block body %}
<div>
  <table class="table" style="margin-bottom: 3px">
    <thead>
      <tr>
        <th>Date</th>
        <th>present</th>
      </tr>
    </thead>
    <tbody>
      {% for student in attendence%}
      <tr>
        <td>{{student['date']}}</td>
        {% if student["present"] == 1%}
        <td>
          <input type="radio" checked />
        </td>
        {%else%}
        <td>
          <input type="radio" disabled />
        </td>
        {%endif%}
      </tr>

      {%endfor%}
    </tbody>
  </table>
</div>

{% endblock%}
